.an-additionally-footer {
  color: #151515;
  font-size: 24px;
  font-weight: 700;
}

.footer {
  display: flex;
  justify-content: space-around;
  background-color: #f3f3f3;
}

.footer-card {
  width: 400px;
  padding-top: 25px;
}

.an-ophours {
  color: #8f859e;
  font-size: 14px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.time {
  color: #151515;
  padding-left: 10px;
  padding-right: 10px;
}

.an-by {
  color: #8f859e;
  font-size: 14px;
}

.an-discrip {
  color: #8f859e;
  font-size: 14px;
  padding-bottom: 20px;
}

.footer-card2 {
  padding-top: 25px;
}

.an-number {
  font-size: 14px;
  color: #151515;
}

.an-adress {
  color: #151515;
  font-size: 14px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.input-email {
  padding: 10px;
  padding-right: 50px;
  margin-top: 15px;
  border: none;
}

.an-btn-footer {
  border: 2px solid floralwhite;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #8f859e;
  font-size: 15px;
  color: #fff;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #9b9b9b;
  font-size: 14px;
}
header,
section {
  width: 100%;
  box-sizing: border-box;
  background-color: white;
}
section {
  padding-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
}
.RVabsolute {
  position: absolute;
  z-index: 99999;
}
.RVrelative {
  position: relative;
}
.RVfixed {
  position: fixed;
  z-index: 999999;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  color: #151515;
}
header {
  top: 0px;
  padding: 10px 15px;
}
.RVmenu {
  text-align: center;
  word-spacing: 10px;
}
.RVright {
  text-align: right;
}
.RVLinelight::after,
.RVLinelight::before {
  box-sizing: border-box;
  content: "";
  display: block;
  background-color: #d6d6d6;
  height: 1px;
  margin: 20px 15px;
}
.RVLinedark::after {
  box-sizing: border-box;
  content: "";
  display: block;
  background-color: #000000;
  height: 1px;
  margin: 20px auto;
}
.RVFlexrow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  box-sizing: border-box;
}
main {
  margin-top: 200px;
}
img {
  width: 100%;
}
.RVcol-3,
.RVcol-4,
.RVcol-6,
.RVcol-9 {
  box-sizing: border-box;
}
.RVcol-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.RVcol-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}
.RVcol-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.RVcol-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.RVcol-7 {
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%;
}
.RVcol-5 {
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover,
a:focus {
  color: rgb(221, 221, 221);
}
.RVabsolutBlock {
  top: 120px;
  left: 30px;
  color: white;
}
.RVLineLeftBlock {
  width: 400px;
  height: 70px;
  border-left: 3px #f3f3f3 solid;
  margin: 20px 40px;
  padding-left: 20px;
  line-height: 1.5;
}
.RVlighVioletBlock {
  background-color: #f3f3f3;
  color: black;
  box-sizing: border-box;
  height: 100%;
  padding: 35px 25px;
}
.RVdarkVioletBlock {
  background-color: #8f859e;
  color: white;
  box-sizing: border-box;
  height: 100%;
  padding: 85px;
}
input,
select {
  width: 100%;
  padding: 10px;
  color: grey;
  border: none;
  margin-top: 5px;
  margin-bottom: 12px;
}
label {
  font-size: 12px;
}
.RVleft {
  padding-left: 15px;
}
.an-btn {
  font-size: 15px;
  color: #fff;
  font-weight: 700;
  padding: 10px 40px;
  background: none;
  margin: 30px 0px;
}
.an-btn-primary {
  background-color: #8f859e;
  border: 2px solid #f3f3f3;
  width: 100%;
}
.an-btn-secondary {
  border: 2px solid floralwhite;
}
.RVvideobtn {
  color: white;
  border: none;
  top: 50%;
  right: 50%;
  font-size: 64px;
  padding: 10px 20px;
  border-radius: 50%;
  text-align: center;
  opacity: 0.9;
  cursor: pointer;
}
h2 {
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 10px;
}
h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
  letter-spacing: 0.1em;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}

p {
  padding: 15px 0px;
}

.RVdarkVioletBlock span {
  color: #f3dfed;
  padding: 7px;
}

.an-banner {
  color: #fff;
  margin-top: 220px;
  background-image: url(../Images/breadcrumbs-01.jpg);
  width: 100%;
  box-sizing: content-box;
  height: 100%;
  text-align: center;
  padding-top: 100px;
  font-size: 50px;
}

.au-under-title {
  font-size: 14px;
  padding-bottom: 100px;
}

.au-few-words-img {
  height: 400px;
  width: 400px;
  padding-left: 400px;
}

.few-words {
  display: flex;
  justify-content: space-between;
}

.au-fw-text {
  margin-right: 400px;
  margin-top: 50px;
}

.au-under-text {
  width: 400px;
  color: grey;
}

.au-under-rooms {
  color: gray;
  width: 850px;
  margin-left: 480px;
}

.text-about-room {
  text-align: center;
}

.grid-img {
  width: 230px;
  height: 170px;
  margin: 5px;
}

.room-gallery {
  margin-left: 530px;
}

.RVdarkgreyblock {
  background-color: #464646;
  color: white;
  box-sizing: border-box;
  height: 80%;
  padding: 85px;
  text-align: center;
}

.title-rewiev {
  color: #fff;
}

.block-rewiev {
  background-color: #323232;
  color: #fff;
  width: 50%;
  margin-left: 420px;
}

.under-title-rewiev {
  color: #fff;
  font-weight: 700;
  padding-top: 30px;
}

.au-under-rewiev {
  color: #fff;
  width: 550px;
  margin-left: 140px;
  font-size: 14px;
}

.who-rewiev {
  font-size: 16px;
}

.au-men {
  color: #8f859e;
  padding-right: 10px;
}

.zap {
  padding-right: 30px;
  font-size: 50px;
}

.zap1 {
  padding-left: 30px;
  font-size: 50px;
}

.our-team-block {
  color: black;
  box-sizing: border-box;
  height: 100%;
  padding: 85px;
  text-align: center;
}

.ot-title {
  text-align: center;
  padding-top: 30px;
}

.team {
  height: 200px;
  width: 210px;
}

.photo-teams {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}

.names {
  color: black;
  font-weight: 700;
}

.portf {
  text-align: center;
}

.RVleft {
  padding-left: 15px;
}
.RVtop {
  padding-top: 15px;
}
.an-btn {
  font-size: 15px;
  color: #fff;
}
.RVdarkVioletBlock span {
  color: #f3dfed;
  padding: 7px;
}
.RVgalleryblock {
  color: black;
  padding: 10px;
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 30px;
}
.rv-readmore {
  color: white;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100%;
  text-align: center;
  width: 100%;
  padding: 15px;
  padding-left: 30px;
  border: tomato 1px solid;
  box-sizing: border-box;
}
.rv-readmore-block {
  opacity: 0.5;
  background-color: white;
  border: 2px solid white;
  height: 100%;
  width: 100%;
}
.rv-readmore-item {
  color: rgb(97, 68, 87);
  opacity: 1;
  top: 50%;
  left: 30%;
}
.rv-readmore:hover {
  opacity: 1;
}
.rv-textblock {
  padding-left: 100px;
  padding-right: 70px;
}

.an-text-serv {
  width: 400px;
}

.img-serv {
  width: 400px;
  height: 400px;
}

.an-btn-serv {
  width: 200px;
}

.an-about-us-block {
  width: 550px;
  height: 465px;
  margin-left: 25px;
}

.video-about-us {
  width: 50%;
  margin-left: 65px;
}

.title-au {
  color: #fff;
}

.title-an {
  color: #fff;
}

.book-block {
  padding-top: 55px;
}
